.App {
  text-align: center;
}

.header{
  background-color: #A1CAFF;
  height: 10%;
  color: black;
}

.App-header {
  background: #A1CAFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

